  /*===============ESTILO DE FUENTE DEL BODY ===============*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
  /*============== FONDO DE PANTALLA ANIMADO ===============*/
*{
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}
.container-loader h1{
    color: #F2F1F0;
}
.letter{
display: inline-block;
font-size: 2rem;
color: #f6f6f6;
animation: bounce 1.2s ease-in-out infinite;
transform-origin: bottom;
}
@keyframes bounce {
    0%, 80%, 100%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(10px);
    }
}
.letter:nth-child(1){
    animation-delay: 0.1s;
}
.letter:nth-child(2){
    animation-delay: 0.2s;
}
.letter:nth-child(3){
    animation-delay: 0.3s;
}
.letter:nth-child(4){
    animation-delay: 0.4s;
}
.letter:nth-child(5){
    animation-delay: 0.5s;
}
.letter:nth-child(6){
    animation-delay: 0.6s;
}
.letter:nth-child(7){
    animation-delay: 0.7s;
}
.letter:nth-child(8){
    animation-delay: 0.8s;
}
.letter:nth-child(9){
    animation-delay: 0.9s;
}
.letter:nth-child(10){
    animation-delay: 0.10s;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/*===============ESTILOS PARA PERZONALIZAR BARRA DE DESPLAZAMIENTO ===============*/
/* Personaliza la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento vertical */
    height: 12px; /* Alto de la barra de desplazamiento horizontal */
}
/* Personaliza la pista (el fondo de la barra de desplazamiento) */
::-webkit-scrollbar-track {
    background: #4e54c8; /* Color de fondo de la pista */
}
/* Personaliza el pulgar (la parte que se mueve) */
::-webkit-scrollbar-thumb {
    background: #4e54c8; /* Color del pulgar */
}
/* Personaliza los botones de la barra de desplazamiento (si los hay) */
::-webkit-scrollbar-button {
    background: #4e54c8; /* Color de los botones */
}
  /*===============ESTILOS PARA RESETEAR EL NAVEGADOR ===============*/
* {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /*===============ESTILOS DEL LOADER DE SABLES ===============*/
 .section_loader {
    position: fixed;
    left:0;
    top: 0;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    
  }
  .loader {
    position: relative;
    width: 60px;
    height: 80px;
    margin-bottom: 60px;
  }
  .show_loader {
    display: flex;
  }
  #loader {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px -40px;
    z-index: 1000;
}
.lightsaber {
    position: absolute;
    width: 4px;
    height: 12px;
    background-color: #666;
    border-radius: 1px;
    bottom: 0;
}
.lightsaber.ls-left {
    left: 0;
}
.lightsaber.ls-right {
    right: 0;
}

.lightsaber:before {
    position: absolute;
    content: ' ';
    display: block;
    width: 2px;
    height: 25px;
    max-height: 1px;
    left: 1px;
    top: 1px;
    background-color: #fff;
    border-radius: 1px;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
}

.lightsaber:after {
    position: absolute;
    content: ' ';
    display: block;
    width: 2px;
    height: 2px;
    left: 1px;
    top: 4px;
    background-color: #fff;
    border-radius: 50%;
}

.ls-particles {
    position: absolute;
    left: 42px;
    top: 10px;
    width: 1px;
    height: 5px;
    background-color: rgb(51, 51, 51, 0);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}


.lightsaber.ls-green:before {
    -webkit-animation: showlightgreen 2s ease-in-out infinite 1s; animation: showlightgreen 2s ease-in-out infinite 1s;
}

.lightsaber.ls-red:before {
    -webkit-animation: showlightred 2s ease-in-out infinite 1s; animation: showlightred 2s ease-in-out infinite 1s;
}


.lightsaber.ls-left {
    -webkit-animation: fightleft 2s ease-in-out infinite 1s; animation: fightleft 2s ease-in-out infinite 1s;
}

.lightsaber.ls-right {
    -webkit-animation: fightright 2s ease-in-out infinite 1s; animation: fightright 2s ease-in-out infinite 1s;
}

.ls-particles.ls-part-1 {
    -webkit-animation: particles1 2s ease-out infinite 1s; animation: particles1 2s ease-out infinite 1s;
}

.ls-particles.ls-part-2 {
    -webkit-animation: particles2 2s ease-out infinite 1s; animation: particles2 2s ease-out infinite 1s;
}

.ls-particles.ls-part-3 {
    -webkit-animation: particles3 2s ease-out infinite 1s; animation: particles3 2s ease-out infinite 1s;
}

.ls-particles.ls-part-4 {
    -webkit-animation: particles4 2s ease-out infinite 1s; animation: particles4 2s ease-out infinite 1s;
}

.ls-particles.ls-part-5 {
    -webkit-animation: particles5 2s ease-out infinite 1s; animation: particles5 2s ease-out infinite 1s;
}

@-webkit-keyframes showlightgreen {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }
  
    5% {
        box-shadow: 0 0 4px 2px #87c054;
    }
    
    10% {
        max-height: 22px;
    }
  
    80% {
        max-height: 22px;
    }
    
    85% {
        box-shadow: 0 0 4px 2px #87c054;
    }
    
    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }
}

@-webkit-keyframes showlightred {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }
  
    20% {
        box-shadow: 0 0 4px 2px #f06363;
    }
    
    25% {
        max-height: 22px;
    }
  
    80% {
        max-height: 22px;
    }
    
    85% {
        box-shadow: 0 0 4px 2px #f06363;
    }
    
    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }
}

@-webkit-keyframes fightleft {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        left: 0;
        bottom: 0;
    }
    
    30% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        bottom: 0;
    }
    
    40% {
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        left: 0;
        bottom: 2px;
    }
    
    45%{
        -webkit-transform: rotateZ(65deg);
        transform: rotateZ(65deg);
        left: 0;
    }
    
    65%{
        -webkit-transform: rotateZ(410deg);
        transform: rotateZ(410deg);
        left: 30px;
        bottom: 10px;
    }
    
    95% {
        -webkit-transform: rotateZ(410deg);
        transform: rotateZ(410deg);
        left: 0;
        bottom: 0;
    }
    
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
        left: 0;
        bottom: 0;
    }
}

@-webkit-keyframes fightright {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        right: 0;
        bottom: 0;
    }
    
    30% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        bottom: 0;
    }
    
    45% {
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        right: 0;
        bottom: 2px;
    }
    
    50%{
        -webkit-transform: rotateZ(-65deg);
        transform: rotateZ(-65deg);
        right: 0;
    }
    
    68%{
        -webkit-transform: rotateZ(-410deg);
        transform: rotateZ(-410deg);
        right: 27px;
        bottom: 13px;
    }
    
    95% {
        -webkit-transform: rotateZ(-410deg);
        transform: rotateZ(-410deg);
        right: 0;
        bottom: 0;
    }
    
    100% {
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        right: 0;
        bottom: 0;
    }
}

@-webkit-keyframes particles1 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(35deg) translateY(-30px);
        transform: rotateZ(35deg) translateY(-30px);
    }
}

@-webkit-keyframes particles2 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }
    
    95% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-65deg) translateY(-40px);
        transform: rotateZ(-65deg) translateY(-40px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-65deg) translateY(-40px);
        transform: rotateZ(-65deg) translateY(-40px);
    }
}

@-webkit-keyframes particles3 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }
    
    97% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-75deg) translateY(-35px);
        transform: rotateZ(-75deg) translateY(-35px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-75deg) translateY(-35px);
        transform: rotateZ(-75deg) translateY(-35px);
    }
}

@-webkit-keyframes particles4 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }
    
    97% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-25deg) translateY(-30px);
        transform: rotateZ(-25deg) translateY(-30px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-25deg) translateY(-30px);
        transform: rotateZ(-25deg) translateY(-30px);
    }
}

@-webkit-keyframes particles5 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }
    
    97% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(65deg) translateY(-35px);
        transform: rotateZ(65deg) translateY(-35px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(65deg) translateY(-35px);
        transform: rotateZ(65deg) translateY(-35px);
    }
}

@keyframes showlightgreen {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }
  
    5% {
        box-shadow: 0 0 4px 2px #87c054;
    }
    
    10% {
        max-height: 22px;
    }
  
    80% {
        max-height: 22px;
    }
    
    85% {
        box-shadow: 0 0 4px 2px #87c054;
    }
    
    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #87c054;
    }
}

@keyframes showlightred {
    0% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }
  
    20% {
        box-shadow: 0 0 4px 2px #f06363;
    }
    
    25% {
        max-height: 22px;
    }
  
    80% {
        max-height: 22px;
    }
    
    85% {
        box-shadow: 0 0 4px 2px #f06363;
    }
    
    100% {
        max-height: 0;
        box-shadow: 0 0 0 0 #f06363;
    }
}

@keyframes fightleft {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        left: 0;
        bottom: 0;
    }
    
    30% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        bottom: 0;
    }
    
    40% {
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        left: 0;
        bottom: 2px;
    }
    
    45%{
        -webkit-transform: rotateZ(65deg);
        transform: rotateZ(65deg);
        left: 0;
    }
    
    65%{
        -webkit-transform: rotateZ(410deg);
        transform: rotateZ(410deg);
        left: 30px;
        bottom: 10px;
    }
    
    95% {
        -webkit-transform: rotateZ(410deg);
        transform: rotateZ(410deg);
        left: 0;
        bottom: 0;
    }
    
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
        left: 0;
        bottom: 0;
    }
}

@keyframes fightright {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        right: 0;
        bottom: 0;
    }
    
    30% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        bottom: 0;
    }
    
    45% {
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        right: 0;
        bottom: 2px;
    }
    
    50%{
        -webkit-transform: rotateZ(-65deg);
        transform: rotateZ(-65deg);
        right: 0;
    }
    
    68%{
        -webkit-transform: rotateZ(-410deg);
        transform: rotateZ(-410deg);
        right: 27px;
        bottom: 13px;
    }
    
    95% {
        -webkit-transform: rotateZ(-410deg);
        transform: rotateZ(-410deg);
        right: 0;
        bottom: 0;
    }
    
    100% {
        -webkit-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        right: 0;
        bottom: 0;
    }
}

@keyframes particles1 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(35deg) translateY(0px);
        transform: rotateZ(35deg) translateY(0px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(35deg) translateY(-30px);
        transform: rotateZ(35deg) translateY(-30px);
    }
}

@keyframes particles2 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(-65deg) translateY(0px);
        transform: rotateZ(-65deg) translateY(0px);
    }
    
    95% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-65deg) translateY(-40px);
        transform: rotateZ(-65deg) translateY(-40px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-65deg) translateY(-40px);
        transform: rotateZ(-65deg) translateY(-40px);
    }
}

@keyframes particles3 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(-75deg) translateY(0px);
        transform: rotateZ(-75deg) translateY(0px);
    }
    
    97% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-75deg) translateY(-35px);
        transform: rotateZ(-75deg) translateY(-35px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-75deg) translateY(-35px);
        transform: rotateZ(-75deg) translateY(-35px);
    }
}

@keyframes particles4 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(-25deg) translateY(0px);
        transform: rotateZ(-25deg) translateY(0px);
    }
    
    97% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-25deg) translateY(-30px);
        transform: rotateZ(-25deg) translateY(-30px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(-25deg) translateY(-30px);
        transform: rotateZ(-25deg) translateY(-30px);
    }
}

@keyframes particles5 {
    0% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }
    
    63% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }
    
    64% {
        background-color: rgba(51, 51, 51,1);
        -webkit-transform: rotateZ(65deg) translateY(0px);
        transform: rotateZ(65deg) translateY(0px);
    }
    
    97% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(65deg) translateY(-35px);
        transform: rotateZ(65deg) translateY(-35px);
    }
    
    100% {
        background-color: rgba(51, 51, 51,0);
        -webkit-transform: rotateZ(65deg) translateY(-35px);
        transform: rotateZ(65deg) translateY(-35px);
    }
}
/*=============== ESTILOS DEL LOADER DE CARGANDO ===============*/
.container-loader{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
h1 {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 40px;
}

.container {
  display: flex;
  column-gap: 20px;
}

.container .dot {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  animation: loading 1s infinite alternate;
}

.container .dot:nth-child(1) {
  background-color: #F2F1F0;
  animation-delay: -0.25s;
}

.container .dot:nth-child(2) {
  background-color: #ea4335;
  animation-delay: -0.5s;
}

.container .dot:nth-child(3) {
  background-color: #fbbc05;
  animation-delay: -0.75s;
}

.container .dot:nth-child(4) {
  background-color: #34a853;
  animation-delay: -1s;
}

@keyframes loading {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(5px);
  }
}
/*=============== MENÚ===============*/
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== COLORES ==========*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== FUENTE Y TIPOGRAFIA==========*/

  --body-font: "Montserrat Alternates", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== FONT WEIGHT ==========*/
  --font-regular: 400;
  --font-medium: 600;

  /*========== Z-INDEX ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== ESTILOS PARA TIPOGRAFIA RESPONSIVA ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== CLASES CSS REUTILIZABLES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== ESTILOS DEL ENCABEZADO Y LA BARRA ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  body.active &{
    background-color: var(--black-color);
}
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}


.nav__close, 
.nav__toggle {
  display: flex;
  color: var(--black-color);
  font-size: 1.5rem;
  cursor: pointer;
  body.active &{
  color: var(--white-color);
}
}
/*=============== ESTILOS DE NAVEGACIÓN ÁRA DISPISITIVOS MOVILES ===============*/
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: left .4s;
    align-items: center;
    body.active &{
        background-color: var(--black-color);
    }
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}

.nav__list, 
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
  text-align: center;
}

.nav__link {
  position: relative;
  color: var(--black-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
  body.active &{
    color: var(--white-color);
}
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--black-color);
  transition: width .4s ease-out;
  body.active &{
    background-color: var(--white-color);
}
}
/*=============== ESTILOS PARA MOSTRAR LA ANIMACIÓN DE LOS LINKS AL PASAR EL CURSOR===============*/
.nav__link:hover span {
  margin-left: 2.5rem;
}

.nav__link:hover i {
  opacity: 0.7;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .6;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/*=============== ESTILOS PARA MOSTRAR MENÚ===============*/
.show-menu {
  left: 0;
}
/*=============== ESTILOS PARA MOSTRAR ANIMACIÓN AL DESPLEGAR EL MENÚ===============*/
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== ESTILOS DE LOS BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
    font-weight: 600;

  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}
/*=============== ESTILOS DE SECCIÓN DE INICIO ===============*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.3), rgba(30,35,38,1)),
    url("./img/fondo.jpg");
    background-size: cover;
    height: 110vh;
    color: #0a0a0a;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color:#f6f6f6;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-top:100px;
    body.active &{
        background-color: #252A2E;
        color:#f6f6f6;
    }
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #455FA4;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 28px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    margin-top: 10px;
    font-size: 15px;
    font-weight: normal;
}
/*=============== ESTILOS DE SECCIÓN SOBRE MI ===============*/
.sobremi{
    background-color: #f6f6f6;
    color: #0a0a0a;
    padding: 50px 20px;
    body.active &{
        background-color: #0a0a0a;
        color:#f6f6f6;
    }
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}
.sobremi .contenido-seccion p span{
    color: #455FA4;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #455FA4;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #455FA4;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 45%;
    height: 100px;
    background-color: #252A2E;
    color: #f6f6f6;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #0a0a0a;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #0a0a0a;
    position: relative;
    z-index: 10;
    body.active &{
        color:#f6f6f6;
        border: 2px solid #f6f6f6;
    }
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #455FA4;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover{
    border: 2px solid;
    color: #f6f6f6;
}
.sobremi button:hover .overlay{
    width: 100%;
}
/*=============== ESTILOS DE SECCIÓN DE HABILIDADES ===============*/
.skills{
    background-color: #F2F1F0;
    color: #0a0a0a;
    padding: 50px 20px;
    body.active &{
        background-color: #131517;
        color:#f6f6f6;
    }
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills .fila .col .contenedor-intereses .interes{
    width: 60%;
    height: 100px;
    background-color: #252A2E;
    color: #f6f6f6;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.skills .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
    text-align: center;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
/*=============== ESTILOS DE SECCIÓN DE CURRICULUM===============*/
.curriculum{
    background-color: #f6f6f6;
    color: #0a0a0a;
    padding: 50px 20px;
    body.active &{
        background-color: #0a0a0a;
        color:#f6f6f6;
    }
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #455FA4;
}
.curriculum .fila .derecha{
    border-left: 2px solid #455FA4;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #F2F1F0;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #455FA4;
    font-size: 18px;
    font-weight: 700;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: #fdc21c;
    margin-bottom: 10px;
    font-weight: 600;
}
.curriculum .fila .item  .fecha-practica {
    display: block;
    color: #455FA4;
    margin-bottom: 10px;
    font-weight: 600;
}
.curriculum .fila .item .actividad {
    display: block;
    color: #132b41;
    margin-bottom: 10px;
    font-weight: 600;
    body.active &{
        color:#f6f6f6;
    }
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border: 2px solid #455FA4;
    margin-right: 20px;
    body.active &{
        background-color: #252A2E;
    }
}
.curriculum .fila .der{
    border: 2px solid #455FA4;
    margin-left: 20px;
    body.active &{
        background-color: #252A2E;
    }
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: #455FA4;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #455FA4;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #455FA4;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #455FA4;
    float: left;
    position: relative;
    bottom: 4px;
}
/*=============== ESTILOS DE SECCIÓN DE PORTAFOLIO===============*/
/* Estilos básicos para el portafolio */
.portfolio {
    text-align: center;
    padding: 50px 0;
    body.active &{
        background-color: #131517;
        color:#f6f6f6;
    }
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
}
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

/* Estilos de la flipcard */
.flip-card {
    background-color: transparent;
    width: 350px;
    height: 250px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front img {
    width: 350px;
    height: 250px;
    object-fit: fill;
}

.flip-card-back {
    background-color: #f2f2f2;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    transform: rotateY(180deg);
}

/*=============== ESTILOS DEL FOOTER===============*/
footer{
    background-color: #f6f6f6;
    color: #0a0a0a;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

    align-items: center;
    body.active &{
        background-color: #0a0a0a;
    }
}

.medios{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
footer .medios a {
    margin: 15px;
    font-size: 18px;
    color: #0a0a0a;
    display: flex;
    align-items: center;
    body.active &{
        color: #F2F1F0;
    }
}
footer .medios i{
    margin: 10px;
    font-size: 25px;
    color: #455FA4;
}
footer .medios a:hover{
    color: #455FA4;
    body.active &{
        color: #fdc21c;
    }
}
footer  .redes a{
    color: #0a0a0a;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #0a0a0a;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    body.active &{
        color:#f6f6f6;
        border: 1px solid #f6f6f6;
    }
}
footer .redes a:hover{
    background-color: #455FA4;
    color: #f6f6f6;
    border: 1px solid #f6f6f6;
    body.active &{
        border: none;
    }
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #455FA4;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
/*=============== ESTILOS DE SWITCH ===============*/
.switch {
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 100px;
    background-color: #132b41;
    &::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F2F1F0;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(30,35,38,1);
    }
    &.active{
      color: #0a0a0a;
      &::after{
        right: 0;
        left: unset;
      }
    }
}

.switch i {
    font-size: 1rem;
    color: #fdc21c;
}
.moon{
    color: #F2F1F0 !important;
}
/*=============== SECCION RESPONSIVE ===============*/
@media screen and (max-width:1100px){
    
   
    /*ESTILOS DE SWITCH*/
.switch {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 10px;
}

.switch i {
    font-size: 1rem;
    color: #fdc21c;
}
.moon{
    color: #F2F1F0 !important;
}
.skills .fila .col .contenedor-intereses .interes{
    width: 100%;}
}
.sobremi .fila .col .contenedor-intereses .interes{
    font-size: 14px;
}
footer{
    flex-wrap: wrap;
}
@media screen and (max-width:700px){

    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .portfolio .galeria .proyecto img{
        width: 250px;
        height: 150px;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }   
    .skills .fila .col .contenedor-intereses .interes{
        width: 45%;
    }
    .sobremi .fila .col .contenedor-intereses .interes
    {
        width: 60%;
        font-size: 15px;
    }
    footer{
        flex-wrap: wrap;
    }
    footer .medios a {
        font-size: 15px;
        margin: 0%;
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        margin-top: 50px;
    }
    .flip-card-back {
        background-color: #f2f2f2;
        color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        transform: rotateY(180deg);
        margin-top: 20px;
    }
}
@media screen and (max-width:500px){
    .inicio .contenido-banner{
        max-width: 280px;
    }
    .skills .fila .col .contenedor-intereses .interes{
        width: 100%;
        font-size: 15px;
    }
    .sobremi .fila .col .contenedor-intereses .interes
    {
        width: 100%;
        font-size: 15px;
    }
    footer{
        flex-wrap: wrap;
    }
    footer .medios a {
        font-size: 14px;
        margin: 0%;
    }
}
@media screen and (max-width:300px){
    .skills .fila .col .contenedor-intereses .interes{
        width: 100%;
        font-size: 12px;
    }
    .sobremi .fila .col .contenedor-intereses .interes
{
    width: 100%;
    padding: 20px;
    font-size: 12px;
    text-align: center;
}
footer .medios a {
    font-size: 12px;
    margin: 0%;
}
footer{
    flex-wrap: wrap;
}
}

